alias cl="clear"
alias up="sudo apt-get update"
alias ug="sudo apt-get upgrade"
alias dug="sudo apt-get dist-upgrade"
alias difco="git diff --color"
alias difca="git diff --color --cached"
alias resco="git reset HEAD && git clean -fd && git checkout -- ."
alias vpn="sudo openvpn --config ~/client.opvn"
alias please="sudo"
